html {
	padding-left	: 50px;
	padding-right	: 50px;
	min-height		: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), 
	to(#084B8A));
	background-size	: 100%;
}

h1 {
	color		: #FFFFFF;
	text-align	: center;
	font-family	: Tahoma;
	font-size	: 48px;
	padding-top	: 12px;
}

#banner{
	position		: relative;
	background-color: #084B8A;
	color			: #FFFFFF;
	top				: -15px; 
	border-radius	: 50px;
}

.navlink{
	position	: relative;
	top			: -15px;
	font-size   : 24px;
	font-family : Verdana;
	display		: inline;
	margin-left	: 5%;
}

.link{
	margin-left		: 2%;
	color			: #FFFFFF;
	text-decoration	: none;
}

.contact_us {
	font-family		: Verdana;
	font-size		: 24px;
	color			: #333399;
	text-decoration	: none;
}