body {
	background-color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: Tahoma;
	font-size  : 48px;
	padding-top: 12px;
}

#banner{
	background-color: #333399;
	border-radius	: 40px;
	color			: #FFFFFF;
	position		: relative;
	top				: -20px; 
}

.navbar{
	font-size   	: 24px;
	font-family 	: Verdana;
}

.link {
	margin-left		: 8%;
	color			: #FFFFFF;
	position		: relative;
	top				: -18px;
	text-decoration	: none;
}

.contact_us {
	font-family		: Verdana;
	font-size		: 24px;
	color			: #333399;
	text-decoration	: none;
}